<a href="https://colab.research.google.com/github/SairamTadepalli19/Day15_ML/blob/main/Deploy_IRIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Import libraries 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv("/content/iris.csv")

In [ ]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
data.drop('Id', axis = 1, inplace =True)

In [ ]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
data['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
#Mapping function to convert the species object type to numeric type

data['Species'] = data['Species'].map({'Iris-setosa' : 0,
                                      'Iris-versicolor': 1,
                                      'Iris-virginica' : 2})

In [ ]:
data.head(150)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        2
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2

[150 rows x 5 columns]

In [ ]:
#Seperating x and y variables

x = data.drop('Species', axis = 1)
y = data['Species']

In [ ]:
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [ ]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int64

In [ ]:
y.value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64

In [ ]:
#Split the dataset into training and testing sets

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [ ]:
print(x_train.shape, y_train.shape)

(120, 4) (120,)

In [ ]:
#implement RandomForestClassifier 

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()

model.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
predict = model.predict(x_test)

In [ ]:
predict

array([2, 0, 2, 1, 1, 0, 1, 1, 0, 0, 0, 2, 1, 1, 1, 0, 2, 1, 0, 0, 0, 0,
       0, 2, 1, 0, 1, 1, 2, 2])

In [ ]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int64

In [ ]:
y_test

116    2
12     0
142    2
57     1
90     1
34     0
84     1
82     1
47     0
9      0
36     0
112    2
72     1
86     1
94     1
30     0
141    2
75     1
5      0
29     0
44     0
35     0
1      0
128    2
65     1
2      0
62     1
80     1
70     1
145    2
Name: Species, dtype: int64

In [ ]:
model.score(x_test, y_test)

0.9666666666666667

In [ ]:
import pickle

In [ ]:
with open("final_session.pickle", 'wb') as f:
  pickle.dump(model, f)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

trees = DecisionTreeClassifier()

In [ ]:
trees.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
predict2 = trees.predict(x_test)

In [ ]:
trees.score(x_test, y_test)

0.9333333333333333

In [ ]:
with open("final_session.pickle", 'wb') as f:
  pickle.dump(model, f)
  pickle.dump(trees, f)